/*Declarações Gerais*/
body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
}

/*CSS Header*/
header{
    background-color: rgb(149, 0, 0);
    color: white;
    padding: 5px;
}
 
header  i {
    margin-right: 5px;
}

header a{
    text-decoration: none;
    color: currentColor;
}

/*CSS Main*/
main{
    margin: 10px;
}

.retorno{
    color: black;
    text-decoration: none;
}

.topico i{
    margin-right: 10px;
}

.topico a{
    text-decoration: none;
    color: currentColor;
}

.topico, #form_post, textarea{
    border: none;
    border-radius: 10px;
    background-color: rgb(217, 217, 217);
    margin: 10px 0px;
    padding: 10px;
}

#form_post button{
    border: solid black 2px;
    border-radius: 13px;
}

#postagem{
    resize: none;
}

/*CSS Footer*/
footer{
    background-color: rgb(149, 0, 0);
    color: white;
    padding: 1px;
}