body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: rgb(149, 0, 0);
    color: white;
    padding: 5px;
}

header  i {
    margin-right: 5px;
}

header a{
    text-decoration: none;
    color: currentColor;
}

header button i{
    color: white;
}

.dropdown{
    display: inline;
}

.cabecalho {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0; 
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 30px; 
}

.logo img {   
    width: 100px;
    vertical-align: middle;
    align-items: center;
}

main {
    width: 100%;
    max-width: 900px;
    background: rgb(149, 0, 0);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 10px;
}

/* Estilos para as seções lado a lado */
.container {
    display: flex;
    justify-content: space-between;
    min-height: 300px; /* Define uma altura mínima */
}

.sec_tab1, .sec_tab2 {
    flex: 1;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 8px;
}

/* Ajusta a largura das seções se necessário */
.sec_tab1 {
    margin-right: 10px;
}

.sec_tab2 {
    margin-left: 10px;
}

.empresa-foto img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.empresa-nome {
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
    font-size: 1.2em;
}

.empresa-info p {
    background-color: #eaeaea;
    
    margin: 10px 0;
    border-radius: 4px;
    text-align: left;
}

/* Estilos para a seção de avaliação */
.sec_tab2 h2 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 10px;
}

.avaliacao p {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.deixe-sua-avaliacao {
    text-align: center;
    margin-bottom: 20px;
}

.deixe-sua-avaliacao label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.deixe-sua-avaliacao .rating {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.deixe-sua-avaliacao .rating .star {
    font-size: 2em;
    cursor: pointer;
    color: #ddd;
}

.deixe-sua-avaliacao .rating .star:hover,
.deixe-sua-avaliacao .rating .star.selected {
    color: gold;
}

.deixe-sua-avaliacao textarea {
    width: 80%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.deixe-sua-avaliacao button {
    padding: 10px 20px;
    background-color: rgb(149, 0, 0);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.deixe-sua-avaliacao button:hover {
    background-color: rgb(149, 0, 0);
}

.comentarios {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10px;
}

.comentario {
    background-color: #eaeaea;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.comentario p {
    margin: 0 0 10px;
}

.comentario strong {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

footer {
    width: 100%;
    background-color: rgb(149, 0, 0);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
}
